
    <div class="card">

        <div class="image-wrapper">
            <img class="recipe-image" [src]="recipe?.imgPrincipale" alt="Immagine ricetta">
            <button mat-icon-button class="favorite-button" title="Aggiungi ai preferiti">
                <mat-icon>favorite</mat-icon> </button>
        </div>


        <h3 class="title-recipe"><strong>{{recipe?.titolo}}</strong></h3>
        <div class="card-footer">

            <div class="time-container">
                <mat-icon>timelapse</mat-icon>
                <span class="tempo">{{recipe?.tempoDiPreparazione}} min</span>
            </div>

            <div class="dietary-icons">
                <mat-icon title="Senza Lattosio">water_drop</mat-icon>
                <mat-icon title="Vegetariano">eco</mat-icon>
            </div>
            <div class="rating-container">
                <mat-icon class="valutazione">star</mat-icon>
                <span>{{recipe?.valutazioneMedia}}</span>
            </div>
        </div>
    </div>