<div class="container-form-register">

    <h2>Iscriviti</h2>

    <form [formGroup]="signUpForm" (ngSubmit)="inviaForm()">


        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" formControlName="username">

            @if(username?.invalid && (username?.dirty || username?.touched)){
            <div class="error">
                @if (username?.errors?.['required']) {
                <small>L'username è obbligatoria.</small>
                }
                @if(username?.errors?.['minLength']){
                <small>L'username deve essere lunga almeno 5 caratteri.
                </small> }
            </div>}
        </div>


        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">

            @if (email?.invalid && (email?.dirty || email?.touched)) {
            <div class="error">
                @if (email?.errors?.['required']) {
                <small>L'email è obbligatoria.</small>
                }
                @if(email?.errors?.['email']){
                <small>L'email non è valida</small>
                }
            </div>
            }
        </div>


        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password">

            @if(password?.invalid && (password?.dirty || password?.touched)){
            <div class="error">
                @if (password?.errors?.['required']) {
                <small>La password è obbligatoria.</small>
                }
                @if(password?.errors?.['pattern']){
                <small>La password deve essere di almeno 8 caratteri e contenere: una maiuscola, una minuscola, un
                    numero e un carattere speciale.
                </small> }
            </div>}
        </div>


        <button type="submit" [disabled]="signUpForm.invalid">Iscriviti</button>

    </form>

</div>