<div class="container-form">

    @if(!isChanged){
    <h1>Inserisci nuova password</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="inviaForm()">

        <div class="form-group">
            <label for="nuovaPassword">Nuova Password</label>
            <input type="password" id="nuovaPassword" formControlName="newPassword">

            @if(newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)){
            <div class="error">
                @if (newPassword?.errors?.['required']) {
                <small>La password è obbligatoria.</small>
                }
                @if(newPassword?.errors?.['pattern']){
                <small>La password deve essere di almeno 8 caratteri e contenere: una maiuscola, una minuscola, un
                    numero e un carattere speciale.
                </small> }
            </div>}
        </div>

        <div class="form-group">
            <label for="confermaPassword">Conferma Password</label>
            <input type="password" id="confermaPassword" formControlName="confermaPassword">

            @if (changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confermaPassword')?.dirty) {
            <div class="error">
                <small>Le password non coincidono.</small>
            </div>
            }

        </div>

        <button type="submit" [disabled]="changePasswordForm.invalid">Invia</button>

    </form>}

    @else{
    <div class="success-message">
        <h2>Password modificata con Successo! Clicca <a routerLink="/login">qui</a> per effettuare il Login.</h2>
    </div>
    }


</div>