<mat-nav-list class="sidebar-list">

  <div class="intestazione">
    <h3 class="title">Menù</h3>
    <button mat-icon-button mat-sidenav-close class="close-button" (click)="onCloseClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <a mat-list-item routerLink="/home" class="sidebar-item">
    <mat-icon matListItemIcon class="sidebar-icon">home</mat-icon>
    <span class="mdc-list-item__primary-text sidebar-text">Home</span>
  </a>

  <a mat-list-item href="#" class="sidebar-item">
    <mat-icon matListItemIcon class="sidebar-icon">restaurant_menu</mat-icon>
    <span class="mdc-list-item__primary-text sidebar-text">Le mie ricette</span>
  </a>

  <a mat-list-item href="#" class="sidebar-item">
    <mat-icon matListItemIcon class="sidebar-icon">favorite</mat-icon>
    <span class="mdc-list-item__primary-text sidebar-text">Preferiti</span>
  </a>

  <a mat-list-item href="#" class="sidebar-item">
    <mat-icon matListItemIcon class="sidebar-icon">settings</mat-icon>
    <span class="mdc-list-item__primary-text sidebar-text">Impostazioni</span>
  </a>

</mat-nav-list>