<div class="container-form">

    <h1>Inserisci l'email per resettare la password</h1>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="inviaForm()">

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
            @if (email?.invalid && (email?.dirty || email?.touched)) {
            <div class="error">
                @if (email?.errors?.['required']) {
                <small>L'email è obbligatoria.</small>
                }
                @if(email?.errors?.['email']){
                <small>L'email non è valida</small>
                }
            </div>
            }
        </div>

        <button type="submit" [disabled]="forgotPasswordForm.invalid">Invia</button>

    </form>

</div>